$primary-color: #243870;
$secondary-color: #282a36;
$third-color: #44475a;
$forth-color: #333543;
$quote-color: #6272a4;
$text-color: #f8f8f2;
$accent-1-color: #bd93f9;
$accent-2-color: #ff79c6;

$main-font: "Inter", sans-serif;
$title-font: "Poppins", sans-serif;
$monospace-font: "JetBrains Mono", monospace;

$main-font-print: Georgia, Cambria, "Times New Roman", Times, serif;
$title-font-print: $main-font-print;
$monospace-font-print: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono",
  Menlo, Courier, monospace;

$font-size-1: 20px;
$font-size-2: 24px;
$font-size-3: 28px;
$font-size-4: 32px;
$font-size-5: 36px;

$mobile-breakpoint: 400px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$nav-bar-height: 50px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  @media screen {
    background: $accent-1-color;
  }
}

::-webkit-scrollbar {
  @media screen {
    height: 12px;
    width: 12px;
    background: transparent;
  }
}

::-webkit-scrollbar-thumb {
  @media screen {
    background: $quote-color;
    border-radius: 1ex;
  }
}

::-webkit-scrollbar-corner {
  @media screen {
    background: transparent;
  }
}

@media print {
  i {
    // There is no other way to do this because of the way FontAwesome works
    display: none !important;
  }

  noscript {
    display: none;
  }
}

:root {
  // Expose needed variables to JavaScript
  --mobile-breakpoint: #{$mobile-breakpoint};
  --tablet-breakpoint: #{$tablet-breakpoint};
  --laptop-breakpoint: #{$laptop-breakpoint};

  font-size: $font-size-1;

  @media screen {
    font-family: $main-font;
    letter-spacing: 0.4px;
    line-height: $font-size-1 * 1.6;
  }

  @media print {
    font-family: $main-font-print;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @media screen {
    font-family: $title-font;
    letter-spacing: 0.01px;
    line-height: 1.25em;
  }

  @media print {
    font-family: $title-font-print;
  }
}

// Body

body {
  margin: 0;
  padding: 0;

  @media screen {
    background-color: $secondary-color;
    color: $text-color;
  }
}

@mixin main-aligment {
  @media screen {
    margin: auto;
    max-width: 50rem;
  }

  @media print {
    margin-left: 1rem;
  }
}

main {
  @include main-aligment;

  @media screen {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $laptop-breakpoint) {
    padding-left: 60px;
    padding-right: 60px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: $font-size-5;
  }

  h2 {
    font-size: $font-size-4;
  }

  h3 {
    font-size: $font-size-3;
  }

  h4 {
    font-size: $font-size-2;
  }

  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  // Link
  a,
  a:active,
  a:visited {
    @media screen {
      color: $accent-2-color;
      text-decoration: none;
      background-color: $forth-color;

      // This fixes an issue with flex containers, making the link look too wide
      max-width: fit-content;
    }

    & > i {
      margin-left: 2px;
      color: scale-color($text-color, $lightness: -20%, $saturation: -20%);

      &:hover,
      &.hover-js {
        color: $text-color;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  ul,
  ol {
    margin: 0;
  }

  pre:has(code) {
    @media screen {
      overflow-x: auto;
      padding: 20px;
    }

    @media print {
      max-width: 100%;
    }
  }

  pre,
  code {
    @media screen {
      font-family: $monospace-font;
    }

    @media print {
      font-family: $monospace-font-print;
      max-width: 100%;
    }
  }

  @media print {
    // The ideal situation would be to use a light theme for the code blocks.
    // For now I will just make it black and white.
    pre {
      background-color: white !important;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
    }
    code {
      background-color: white !important;
      span {
        color: black !important;
      }
    }
  }

  blockquote {
    border-left: 1px solid $quote-color;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
  }
}

// Header and navigation

body > header {
  position: sticky;
  top: 0;

  & > .progress-bar {
    display: none;
    height: 3px;
    background-color: $accent-1-color;
    transition: width 0.2s ease-in-out;
  }

  @media print {
    display: none;
  }
}

header > nav {
  background-color: $primary-color;
  @include flex-center;
  flex-direction: row;
  min-height: $nav-bar-height;

  &.open {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  & > .logo {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      @include flex-center;
      position: absolute;
      min-height: $nav-bar-height;
      top: 0px;
      left: 20px;
    }

    & > a,
    & > a:visited {
      font-weight: 500;
      color: $text-color;
      text-decoration: none;
    }
  }

  & > .menu-toggle {
    display: none;
    color: $text-color;
    text-decoration: none;

    @media (max-width: $tablet-breakpoint) {
      @include flex-center;
      position: absolute;
      min-width: $nav-bar-height;
      min-height: $nav-bar-height;
      top: 0px;
      right: 0px;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }

      &[aria-expanded="true"] {
        background-color: lighten($primary-color, 10%);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    &.open {
      background-color: $third-color;
      padding-top: 20px;
      padding-bottom: 20px;
      min-width: 100%;
    }

    &:not([aria-hidden="true"]) {
      @media (max-width: $tablet-breakpoint) {
        flex-direction: column;
      }
    }

    li {
      @include flex-center;
      margin: 0 10px;
      flex: 1; // Take all space

      & > a {
        @include flex-center;
        color: $text-color;
        position: relative;
        height: $nav-bar-height;
        text-decoration: none;
        padding: 0 20px;
        flex: 1; // Take all space

        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }

      @media (max-width: $tablet-breakpoint) {
        &:not(.show) {
          display: none;
        }

        &.show {
          min-height: 50px;
        }
      }
    }
  }
}

// Footer

@mixin footer-aligment {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body > footer {
  @include footer-aligment;
  @include flex-center;
  gap: 10px;
  background-color: $primary-color;
  flex-direction: column;

  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
    gap: 0;
    padding: 0;
    min-height: 50px;
  }

  @media print {
    @include main-aligment;
    justify-content: flex-start;
    background-color: unset;
    flex-direction: row;
  }

  span {
    gap: 10px;
    margin: 0;
    padding: 0 20px;
    font-size: $font-size-1 * 0.75;

    @media screen {
      @include flex-center;
      flex-direction: row;
      color: $text-color;
    }

    &.print-only {
      @media print {
        display: unset;
      }

      @media screen {
        display: none;
      }
    }

    a {
      & > i {
        margin-right: 5px;
      }

      @media screen {
        color: $text-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Blog post
main {
  & > .blog-post-page-contents {
    margin-bottom: 10px;
  }

  & > .blog-post-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > .blog-post-card {
      display: flex;
      flex-direction: column;

      & > .blog-post-card-header {
        display: flex;
        flex-direction: row;
        gap: 15px;

        @media (max-width: $tablet-breakpoint) {
          flex-direction: column;
        }
      }
    }
  }

  & > .blog-post-header {
    & > .blog-post-cover {
      height: 300px;
      overflow: hidden;

      & > img {
        object-fit: cover;
      }

      @media (max-width: $mobile-breakpoint) {
        height: 200px;
      }
    }

    & > .blog-post-subtitle {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      margin-bottom: 20px;

      & > span {
        @include flex-center;
        gap: 8px;
      }

      @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@mixin name-and-avatar-layout {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $tablet-breakpoint) {
    flex-direction: column;
  }

  & .left-side > .avatar {
    border-radius: 50%;
    width: 150px;
    @media screen {
      box-shadow: scale-color($color: $accent-1-color, $alpha: 0.3) 0px 0px 0px
        1.5px;
    }
  }

  & .right-side {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    & > h1,
    & > h4 {
      padding: 0;
    }
  }
}

// Index page
main > .index-header {
  @include name-and-avatar-layout;
}

// Resume page

main > .resume-header {
  @include name-and-avatar-layout;

  & .left-side > .avatar {
    border-radius: 50%;
    width: 120px;
  }

  & .right-side {
    gap: 0;
    justify-content: unset;

    & > .links {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    justify-content: center;

    & .right-side {
      gap: 5px;
      align-items: center;
    }
  }
}

@mixin card-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media print {
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media screen {
    padding: 5px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;

    &:hover {
      box-shadow: scale-color($color: $accent-1-color, $alpha: 0.5) 0px 0px 0px
        1px;
    }
  }

  @media screen and (min-width: $laptop-breakpoint) {
    padding: 20px;
    margin-left: unset;
    margin-right: unset;
  }
}

main > article.resume {
  & > section:not(:first-child) {
    margin-top: 20px;
  }

  .resume-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $laptop-breakpoint) {
      align-items: flex-start;
    }

    @media print {
      align-items: flex-start;
    }
  }

  .resume-card {
    @include card-base;

    @media screen and (min-width: $laptop-breakpoint) {
      flex-direction: row;
    }

    & > .left-side,
    & > .right-side {
      display: flex;
      flex-direction: column;
      width: unset;
      padding: 5px;

      @media screen and (min-width: $tablet-breakpoint) {
        padding: 20px;
        width: 50%;
      }
    }
  }

  #summary > .resume-summary-card {
    @include card-base;
    justify-content: unset;

    @media screen {
      & > p {
        padding: 20px;
      }
    }
  }

  div[role="list"] {
    display: flex;
    flex-direction: column;

    & > [role="listitem"] {
      @media print {
        &::before {
          content: "🗸";
          margin-right: 10px;
        }
      }
    }
  }

  #education > .education-certificate {
    & > .left-side {
      & > .cert-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }
    }

    & > .right-side {
      & > .skills {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  #experience > .experience-job {
    & > .left-side {
      & > .job-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }
    }

    & > .right-side {
      & > .job-bullet-points {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}
