$black: #232323;
$white: #fefefb;
$primary: #ff9737;
$secondary: #785d4a;
$gray: #4d4841;
$green: #49ebb1;
$fontsize: 1.25rem;

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin page-size {
    width: 90vw;

    @media (min-width: 768px) {
        width: 65vw;
    }

    @media (min-width: 1024px) {
        width: 70ch;
    }
}

@mixin header-size {
    width: 90vw;

    @media (min-width: 768px) {
        width: 80vw;
    }

    @media (min-width: 1024px) {
        width: 95vw;
    }
}

@mixin font-size {
    font-size: $fontsize * 0.89;

    @media (min-width: 375px) {
        font-size: $fontsize;
    }
}

@mixin header-font-size {
    $h2fontsize: $fontsize * 1.4;
    font-size: $h2fontsize * 0.89;

    @media (min-width: 375px) {
        font-size: $fontsize * 1.35;
    }
}

@mixin title-font-size {
    font-size: $fontsize * 1.4;
}

@mixin footer-font-size {
    $footerfontsize: $fontsize * 0.85;
    font-size: $footerfontsize * 0.89;

    @media (min-width: 375px) {
        font-size: $footerfontsize;
    }
}

@mixin nav-btn-font-size {
    font-size: $fontsize * 0.8;

    @media (min-width: 375px) {
        font-size: $fontsize;
    }
}

@mixin border-radius-small {
    border-radius: 0.5rem;
}

@mixin border-radius-strong {
    border-radius: 3rem;
}

@mixin border-radius-strongest {
    border-radius: 5rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-family: 'Ubuntu', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 2rem;
    color: $white;
    background-color: $black;
    color-scheme: dark;
}

body {
    width: 99vw;
    overflow-x: hidden;
}

#hidden-meta {
    display: none;
}

a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

body > header {
    padding: 1rem 0 1rem 0;
    background-color: scale-color($black, $lightness: +5%);
    height: 12rem;

    @media (min-width: 375px) {
        height: 13rem;
    }

    @media (min-width: 1024px) {
        height: 3.5rem;
        padding: 0.5rem 0 0.5rem 0;
    }

    & > div {
        @include header-size;
        @include mx-auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        @media (min-width: 1024px) {
            display: block;
            flex-direction: unset;
            align-items: unset;
            align-content: unset;
        }

        & > h1 {
            @include title-font-size;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: $green;
            margin: 0.5rem 0 0.5rem 0;
            letter-spacing: 0.2rem;

            @media (min-width: 1024px) {
                margin: 0 0 0 1rem;
                display: inline-block;
                vertical-align: middle;
            }

            & > a {
                color: unset;
                &,
                &:hover,
                &:active {
                    text-decoration: none;
                }
            }
        }

        & > div.logo {
            background-image: url(/logo.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #785d4a;
            border-radius: 5rem;
            height: 4rem;
            width: 4rem;
            background-size: 3.5rem;
            padding: 0.5rem;
            margin: 0.5rem 0 0.5rem 0;

            @media (min-width: 1024px) {
                margin: 0 0 0.5rem;
                display: inline-block;
                vertical-align: middle;
                height: 3.2rem;
                width: 3.2rem;
                padding: 0.2rem;
                background-size: 3rem;
            }
        }

        & > nav {
            margin: 1rem 0 1rem 0;

            @media (min-width: 1024px) {
                float: right;
            }
            & > ol > li {
                display: inline;
            }

            & > ol > li > a {
                @include border-radius-strong;
                @include nav-btn-font-size;
                color: $white;
                border: 0.1rem solid $primary;
                margin-left: 0.3rem;
                padding: 0.4rem;
                @media (min-width: 375px) {
                    margin-left: 0.4rem;
                    padding: 0.5rem;
                }
                @media (min-width: 1024px) {
                    margin-left: 0.5rem;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                }
                &:hover {
                    background-color: $secondary;
                    text-decoration: none;
                }
                &:active {
                    background-color: scale-color($secondary, $lightness: -30%);
                }
            }
            & > ol > li > .first {
                margin-left: 0;
            }
            & > ol > li > .sel {
                background-color: #785d4a83;
            }
        }
    }
}

body > main {
    @include mx-auto;
    @include page-size;
    @include font-size;

    padding: 1rem 0 1rem 0;

    & h1, & h2 {
        @include header-font-size;
        margin: 1rem 0 1rem 0;
        font-weight: 500;
    }

    & strong, & b {
        font-weight: 500;
    }

    & .subtitle {
        @include footer-font-size;
    }

    & p {
        word-wrap: break-word;
        margin: 0.8rem 0 0.8rem 0;
    }

    & img {
        margin: 1rem 0 1rem 0;
        max-width: 100%;

        @media (min-width: 1444px) {
            max-width: 45rem;
        }
    }

    & ul {
        margin-left: 1rem;
        list-style-type: '-';

        & > li {
            padding-left: 0.5rem;
        }
    }

    & > footer {
        @include footer-font-size;
        padding: 1rem 0 1rem 0;
        color: scale-color($white, $alpha: -30%);

        & p {
            margin: 0.25rem 0 0.25rem 0;
        }

        & > a {
            color: scale-color($primary, $alpha: -30%);

            &:hover {
                color: scale-color($primary, $alpha: -20%);
            }

            &:active {
                color: scale-color($primary, $alpha: -50%);
            }
        }
    }
}
