# Build modules
node_modules

# Editor stuff
.vim
.vscode

# Self-hosted fonts
static/fonts/*.woff2
static/fonts.css

# Client-side JS (built by TypeScript)
static/scripts/*.js

# Generated HTML
public
