# Search engine authorization
static/BingSiteAuth.xml
static/google*.html

# Self-hosted fonts
static/fonts/*.woff2
static/fonts.css

# Xess is managed via Deno script. Not git.
static/xess.css

# Generated HTML
public

# Metadata
app.json
