---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCardList from "../../components/BlogPost/BlogPostCardList.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.published)
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .reverse();
---

<BaseLayout
  title="Blog"
  description={"My personal blog including articles about programming, tech, personal experiences and reflections."}
>
  <div class="blog-post-page-contents">
    <h2>Blog</h2>
    <p>
      You can find my blog posts here. I write about programming, tech, personal
      experiences and reflections.
    </p>
  </div>

  <BlogPostCardList posts={posts} />
</BaseLayout>
