$primary-color: #243870;
$secondary-color: #282a36;
$third-color: #44475a;
$forth-color: #333543;
$quote-color: #6272a4;
$text-color: #f8f8f2;
$icon-color: scale-color($text-color, $lightness: -20%, $saturation: -20%);
$accent-1-color: #bd93f9;
$accent-2-color: #ff79c6;

$print-fg-color: black;
$print-bg-color: white;
$print-link-color: darkblue;

$gen-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$gen-font-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$gen-font-mono: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo,
  Courier, monospace;

$main-font: "Inter Variable", $gen-font-sans-serif;
$title-font: "Poppins", $gen-font-sans-serif;
$monospace-font: "Intel One Mono", $gen-font-mono;

$main-font-print: "Lora Variable", $gen-font-serif;
$title-font-print: $main-font-print;
$monospace-font-print: $gen-font-mono;

$font-size-regular: 1.1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;
$font-size-small-1: 1rem;
$font-size-small-2: 0.8rem;

$mobile-breakpoint: 400px;
$mobile-xl-breakpoint: 500px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$nav-bar-height: 50px;

$scrollbar-height: 12px;
$scrollbar-width: 12px;

:root {
  --tablet-breakpoint: #{$tablet-breakpoint};
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin main-aligment {
  @media screen {
    margin: auto;
    max-width: 50rem;
  }

  @media print {
    margin-left: 1rem;
  }
}

@mixin link {
  @media screen {
    color: $accent-2-color;
    text-decoration: none;
    background-color: $forth-color;

    // This fixes an issue with flex containers, making the link look too wide
    max-width: fit-content;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// Name and avatar layout
@mixin name-and-avatar-layout {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $tablet-breakpoint) {
    flex-direction: column;
  }

  & .left-side>.avatar {
    border-radius: 50%;
    width: 150px;

    @media screen {
      box-shadow: scale-color($color: $accent-1-color, $alpha: 30%) 0px 0px 0px 1.5px;
    }
  }

  & .right-side {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &>h1,
    &>h4 {
      padding: 0;
    }
  }
}

// Card style
@mixin card-base($margin, $margin-print, $padding, $padding-laptop) {
  display: flex;
  flex-direction: column;

  @media print {
    align-items: flex-start;
    margin: $margin-print;
  }

  @media screen {
    padding: $padding;
    margin: $margin;

    border-radius: 8px;
    box-shadow: scale-color($color: $forth-color, $alpha: 5%) 0px 0px 0px 1px;

    @media (prefers-reduced-motion: no-preference) {
      transition: box-shadow 0.2s ease-in-out;
    }

    &:hover {
      box-shadow: scale-color($color: $accent-1-color, $alpha: 5%) 0px 0px 0px 1px;
    }
  }

  @media screen and (min-width: $laptop-breakpoint) {
    padding: $padding-laptop;
    margin-left: unset;
    margin-right: unset;
  }
}

@mixin card-common {
  @include card-base($margin: 25px 0 25px 0,
    $margin-print: 10px,
    $padding: 20px,
    $padding-laptop: 20px);
}