/* @preserve
* The Intel One Mono font is licensed OFL by Intel Corporation
* https://github.com/intel/intel-one-mono/blob/main/OFL.txt */

@font-face {
  font-family: "Intel One Mono";
  src: url("/fonts/intel-one-mono/IntelOneMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
