@use "./common.scss" as *;

::selection {
  @media screen {
    background: $accent-1-color;
  }
}

::-webkit-scrollbar {
  @media screen {
    height: 12px;
    width: 12px;
    background: transparent;
  }
}

::-webkit-scrollbar-thumb {
  @media screen {
    background: $quote-color;
    border-radius: 1ex;
  }
}

::-webkit-scrollbar-corner {
  @media screen {
    background: transparent;
  }
}

:root {
  // Expose needed variables to JavaScript
  --mobile-breakpoint: #{$mobile-breakpoint};
  --mobile-xl-breakpoint: #{$mobile-xl-breakpoint};
  --tablet-breakpoint: #{$tablet-breakpoint};
  --laptop-breakpoint: #{$laptop-breakpoint};
  --text-color: #{$text-color};
  --icon-color: #{$icon-color};

  font-size: $font-size-regular;

  @media screen {
    font-family: $main-font;
    letter-spacing: 0.4px;
    line-height: $font-size-regular * 1.6;
  }

  @media print {
    font-family: $main-font-print;
  }
}

// Global print mode overrrides
@media print {
  a > svg {
    display: none;
  }

  a,
  a:active,
  a:visited {
    color: $print-link-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @media screen {
    font-family: $title-font;
    letter-spacing: 0.01px;
    line-height: 1.25em;
  }

  @media print {
    font-family: $title-font-print;
  }
}

// Body

body {
  margin: 0;
  padding: 0;

  @media screen {
    background-color: $secondary-color;
    color: $text-color;
  }
}

main {
  @include main-aligment;

  @media screen {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $laptop-breakpoint) {
    padding-left: 60px;
    padding-right: 60px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  img {
    max-width: 100%;
  }

  ul,
  ol {
    margin: 0;
  }

  pre:has(code) {
    @media screen {
      overflow-x: auto;
      padding: 20px;
    }

    @media print {
      max-width: 100%;
    }
  }

  pre,
  code {
    @media screen {
      font-family: $monospace-font;
    }

    @media print {
      font-family: $monospace-font-print;
      max-width: 100%;
    }
  }

  @media print {
    // The ideal situation would be to use a light theme for the code blocks.
    // For now I will just make it black and white.
    pre {
      background-color: $print-bg-color !important;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
    }
    code {
      background-color: $print-fg-color !important;
      span {
        color: $print-fg-color !important;
      }
    }
  }

  blockquote {
    border-left: 1px solid $quote-color;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
  }
}

// Index page
main > .index-header {
  @include name-and-avatar-layout;
}

// Resume page
