@use "./common.scss" as *;

@mixin resume-card-config {
  @include card-base(
    $margin: 30px 20px 30px 20px,
    $margin-print: 0.5rem 0 0.5rem 0.5rem,
    $padding: 5px,
    $padding-laptop: 10px
  );
  align-items: center;
  justify-content: space-around;
}

div[role="list"] {
  display: flex;
  flex-direction: column;

  & > [role="listitem"] {
    @media print {
      &::before {
        display: inline-block;
        content: "00";
        color: transparent;
        background-image: url(https://unpkg.com/css.gg@2.0.0/icons/svg/check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
