@use "./common.scss" as *;

@mixin resume-card-config {
  @include card-base(
    $margin: 30px 0 30px 0,
    $margin-print: 0.5rem 0 0.5rem 0.5rem,
    $padding: 5px,
    $padding-laptop: 10px
  );
  align-items: flex-start;
  justify-content: space-around;
}
