---
export interface Props {
  label: string;
  title: string;
  value: string;
}

const {
  label,
  title,
  value
} = Astro.props as Props;
---

<div class="info-block">
  <span class="label">{label}</span>
  <div class="contents">
    <span>{title}</span>
    <span class="value">{value}</span>
  </div>
</div>

<style lang="scss">
  @use "~/styles/resume-common.scss" as *;
  
  .info-block {
    display: flex;
    flex-direction: column;

    & > .label {
      @include resume-experience-tag-title;
    }

    & > .contents {
      display: flex;
      flex-direction: column;
      gap: 0.75ch;

      @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
      }
    }

    & > .contents > .value {
      @include resume-experience-tag-value;
      max-width: max-content;
      @media (min-width: $mobile-breakpoint) {
      flex-direction: row;
      max-width: unset;
    }
    }
  }
</style>