---
export interface Props {
  label: string;
  title: string;
  value: string;
}

const {
  label,
  title,
  value
} = Astro.props as Props;
---

<div class="flex flex-col">
  <span class="label">{label}</span>
  <div class="flex flex-row md:flex-col gap-[0.75ch]">
    <span class="print:font-medium">{title}</span>
    <span class="py-[0.5ch] flex-row md:max-w-[max-content] max-h-6 rounded-sm bg-slate-700 text-neutral-200 print:font-medium">{value}</span>
  </div>
</div>
