---

---

<div class="flex flex-col lg:flex-row p-1 lg:p-2">
	<div class="flex flex-col p-1 print:p-[unset] md:p-2 lg:p-7 print:my-1 lg:w-[50%]">
		<slot name="left-side" />
	</div>
	<div class="flex flex-col p-1 print:p-[unset] md:p-2 lg:p-7 print:my-1 lg:w-[50%]">
		<slot name="right-side" />
	</div>
</div>
