---
export interface Props {
  paragraphs: string[];
}

const { paragraphs } = Astro.props;
---

<div class="resume-summary-card">
  {paragraphs.map((contents) => <p>{contents}</p>)}
</div>

<style lang="scss">
  @use "../../styles/common.scss" as *;
  @use "../../styles/resume-common.scss" as *;

  .resume-summary-card {
    @include resume-card-config;
    justify-content: unset;

    @media screen {
      & > p {
        padding: 20px;
      }
    }
  }
</style>
