---
import { skillShortName, type Skill } from "~/types/resume/Skill";
import ResumeCardSimple from "./ResumeCardSimple.astro";
import {
  printDateTimeDifferenceYears,
  type DateTimeDifference,
} from "~/helpers/DateDifference";

export interface Props {
  mainSkills: Skill[];
  sideSkills: Skill[];
  skillsExperience: Partial<Record<Skill, DateTimeDifference>>;
}

const { mainSkills, sideSkills, skillsExperience } = Astro.props;

const printSkillName = (skill: Skill) => {
  const shortName = skillShortName[skill];
  return shortName ?? skill;
};

const renderValuesAndSort = (values : Skill[]) => values.map((skill) => ({
  exp: skillsExperience[skill]!,
  name: printSkillName(skill),
  expYears: printDateTimeDifferenceYears(skillsExperience[skill]!)
})).sort((a, b) => b.exp.years - a.exp.years);


const mainSkillsData = renderValuesAndSort(mainSkills);
const sideSkillsData = renderValuesAndSort(sideSkills);

---

<ResumeCardSimple>
  <span class="print:font-medium">Main Skills</span>
  <div class="flex flex-row print:flex-col mb-4 items-center flex-wrap" role="list">
    {
      mainSkillsData.map(({name, expYears}) => (
        <div class="skill-list-item" role="listitem">
          <svg class="hidden print:inline-block" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2"/></svg>
          <span>{name}</span>
          <span class="tag">
            {expYears}
          </span>
        </div>
      ))
    }
  </div>
  <span class="print:font-medium">Side Skills</span>
  <div class="flex flex-row print:flex-col mb-4 items-center flex-wrap" role="list">
    {
      sideSkillsData.map(({name, expYears}) => (
        <div class="flex flex-row items-center gap-[0.75ch]" role="listitem">
          <svg class="hidden print:inline-block" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M12 10a2 2 0 0 0-2 2a2 2 0 0 0 2 2c1.11 0 2-.89 2-2a2 2 0 0 0-2-2"/></svg>
          <span>{name}</span>
          <span class="tag">
            {expYears}
          </span>
        </div>
      ))
    }
  </div>
</ResumeCardSimple>
