---
import { skillShortName, type Skill } from "~/types/resume/Skill";
import ResumeCardSimple from "./ResumeCardSimple.astro";
import {
  printDateTimeDifferenceYears,
  type DateTimeDifference,
} from "~/helpers/DateDifference";
import Icon from '~/components/Icon.astro';

export interface Props {
  mainSkills: Skill[];
  sideSkills: Skill[];
  skillsExperience: Partial<Record<Skill, DateTimeDifference>>;
}

const { mainSkills, sideSkills, skillsExperience } = Astro.props;

const printSkillName = (skill: Skill) => {
  const shortName = skillShortName[skill];
  return shortName ?? skill;
};

const renderValuesAndSort = (values : Skill[]) => values.map((skill) => ({
  exp: skillsExperience[skill]!,
  name: printSkillName(skill),
  expYears: printDateTimeDifferenceYears(skillsExperience[skill]!)
})).sort((a, b) => b.exp.years - a.exp.years);


const mainSkillsData = renderValuesAndSort(mainSkills);
const sideSkillsData = renderValuesAndSort(sideSkills);

---

<ResumeCardSimple>
  <span class="skill-type-title">Main Skills</span>
  <div class="skill-list" role="list">
    {
      mainSkillsData.map(({name, expYears}) => (
        <div class="skill-list-item" role="listitem">
          <div class="print-only" style="display: contents;">
            <Icon name="mdi:dot" alt="Dot" displayPrint />
          </div>
          <span>{name}</span>
          <span class="tag">
            {expYears}
          </span>
        </div>
      ))
    }
  </div>
  <span class="skill-type-title">Side Skills</span>
  <div class="skill-list" role="list">
    {
      sideSkillsData.map(({name, expYears}) => (
        <div class="skill-list-item" role="listitem">
          <div class="print-only" style="display: contents;">
            <Icon name="mdi:dot" alt="Dot" displayPrint />
          </div>
          <span>{name}</span>
          <span class="tag">
            {expYears}
          </span>
        </div>
      ))
    }
  </div>
</ResumeCardSimple>

<style lang="scss">
  @use "~/styles/resume-common.scss" as *;

  .skill-type-title {
    @include resume-experience-tag-title;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;

    @media screen {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .skill-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75ch;

    & > .tag {
      @include resume-experience-tag-value;
    }
  }
</style>
