---
export interface Props {
  paragraphs: string[];
}

const { paragraphs } = Astro.props;
---

<div class="flex flex-col print:items-start p-1 lg:p-2 print:ml-2">
  {paragraphs.map((contents) => <p class="p-5 print:p-[unset]">{contents}</p>)}
</div>
