---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
---

<BaseLayout
  title={"Resume"}
  description="Brief description of the blog author, profession, hobbies and their beliefs."
>
  <h2>About me</h2>

  <p>
    Hello! My name is Lucie, but you can call me Luc. I am a developer from
    Argentina, currently looking to relocate.
  </p>

  <p>
    You can see my
    <Link name="pronouns" url="https://pronouns.cc/@luc" /> here.
  </p>

  <h2>Hobbies: Programming</h2>

  <p>
    I learned programming by myself, I find it enjoyable to create programs or
    scripts that solves problems. I work as a full-stack software developer at a
    known international company. My tech skills include but are not limited to:
    JavaScript, TypeScript, C#, Go, Python, Lua, Docker, SQL. I am currently
    focusing on Web technologies such as Next.js, deploying on the Edge runtime,
    using serverless databases and building great experiences on the front-end.
  </p>

  <h2>Hobbies: General</h2>

  <p>
    Apart from programming I enjoy playing video games, going out for a walk,
    working out, watching cartoons (such as My Little Pony), anime (such as
    Yu-Gi-Oh!) or tv shows (such as The Mentalist), and generally enjoying my
    time with my partner, I am also part of the

    <Link
      name="furry fandom"
      url="https://en.wikipedia.org/wiki/Furry_fandom"
    />
  </p>

  <h2>Life views</h2>

  <p>
    I have my own definition of nihilism, I try to re-think how I interact with
    everything and find my own conclusions about them.
  </p>

  <p>
    I identify as gender non-binary, as I dont associate with either cultural
    masculiny or femininity, I enjoy creating my own meaning of gender
    expression. I fully support LGBTQIA+.
  </p>

  <p>
    I believe everyone should treat each other respectfully regardless of
    gender, and that they should show their own interests instead of what
    society tells them to do; helping each other and trying to make the world a
    better place.
  </p>

  <p>Make love, not war.</p>
</BaseLayout>
