---
import Link from "~/components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title={"Resume"}
  description="Brief description of the blog author, profession, hobbies and their beliefs."
>
  <h2>About me</h2>

  <p>
    Hello! I am Luc. I am a developer from Argentina, currently looking to relocate.
  </p>

  <h2>Hobbies: Programming</h2>

  <p>
    I learned programming by myself, I find it enjoyable to create programs or
    scripts that solves problems. I work as a full-stack software developer building my own projects.
    My tech skills include but are not limited to:
    JavaScript, TypeScript, C#, Go, Python, Lua, Docker, SQL. I am currently
    focusing on Web technologies such as React, Next.js, Node.js (Express or Fastify),
    and building great experiences on the front-end with snappy back-ends.
  </p>

  <h2>Hobbies: Operative systems</h2>

  <p>I enjoy using and configuring systems that use the Linux kernel, and I also have play around with systems using the BSD kernel</p>
  <p>However, I don't think any operative system is better than other, they are just tools and they can suit different needs.</p>
  <p>Currently I am playing around with Ultramarine Linux (Fedora derivative) and AlmaLinux.</p>
  <p>I do enjoy setting up servers manually containers and reverse proxy tools like Caddy.</p>

  <h2>Hobbies: General</h2>

  <p>
    Apart from programming I enjoy playing video games, going out for a walk,
    working out, watching cartoons (such as Avatar the Last Air Bender), anime (such as
    Yu-Gi-Oh!) or tv shows (such as The Mentalist), and generally enjoying my
    time with my friends. I also like to drink Tea, a lot.
  </p>

</BaseLayout>
