---
import LinkList from "../components/Index/LinkList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexNamePhoto from "../components/Index/IndexNamePhoto.astro";
import { getLinksBySection } from "../helpers/getLinks";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <IndexNamePhoto
    name="Luc"
    avatarUrl="/images/profile_picture_chill.png"
    avatarAlt="Luc's avatar - Twilight Sparkle from My Little Pony"
    subtitle="Web Developer, computer person and tea-fulled"
  />

  <p>"What do I even type here"</p>

  <LinkList title="Quick Links" items={getLinksBySection("main")} />

  <LinkList title="Contact" items={getLinksBySection("contact")} />

  <LinkList title="Cryptography" items={getLinksBySection("crypto")} />
</BaseLayout>
