---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h2>Content not yet available</h2>
  <a
    href="#"
    data-protected-link="U2FsdGVkX191OC/2Upm8FkdD/U97fW+FvYXdI2c43xTdyOjh"
    >Email</a
  >
</BaseLayout>
