---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Link from "../components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h2>Content not yet available</h2>
  <Link
    protectedUrl="U2FsdGVkX191OC/2Upm8FkdD/U97fW+FvYXdI2c43xTdyOjh"
    name="Email"
  />
</BaseLayout>
