---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReadCard from "../components/ReadCard.astro";
---

<BaseLayout
  title={"Read"}
  description="Page containing links to articles I read and a comment on those posts."
>
  <h2>Read articles</h2>
  <p>
    Articles that I read lately and felt the need to share/ I agreed with them.
    The date corresponds to the time I read it, not the time article was
    published.
  </p>
  <blockquote>
    ✒️ I might or not add comments, I only add them when I have something
    positive to say, I try to keep them up to 70 words in length.
  </blockquote>

  <ReadCard
    date={new Date("2023-07-04")}
    title="CommonJS is hurting JavaScript"
    url="https://deno.com/blog/commonjs-is-hurting-javascript"
  >
    Excellent read that talks about the experiences of JavaScript developers
    that try to support both ES-modules and CommonJS at the same time.
    
    I really hope we can transition to only ES-modules soon.
  </ReadCard>

  <ReadCard
  date={new Date("2023-06-06")}
  title="Why SQLite is so great for the edge"
  url="https://blog.turso.tech/why-sqlite-is-so-great-for-the-edge-ee00a3a9a55f"
  >
  I love SQLite, I think it is a great database, but I always been told that
  "you don't go to production" with it. Now seeing it becoming "a great option for the Edge"
  where people are aiming to deploy right now, it is surreal for me.
  I am very happy for the team that worked on it, and I hope that people can find more use cases for it!.
  </ReadCard>

  <ReadCard
    date={new Date("2023-02-12")}
    title="<3 Deno"
    url="https://matklad.github.io/2023/02/12/a-love-letter-to-deno.html"
  >
    Deno is a fantastic tool that gives new breath to the JavaScript ecosystem,
    I like how you can just download one binary and start using it, no need to
    install Node.js or any other package manager. However, I still need to learn
    how to properly setup a full project with just Deno. Right now, I use it for
    small scripts and tools.
  </ReadCard>

  <ReadCard
    date={new Date("2022-11-09")}
    title="most programming languages are fine, actually"
    url="https://moth.monster/blog/programming"
  >
    Agreed on this, tools fits needs, there cannot be an ultimate problem
    solver.
  </ReadCard>

  <ReadCard
    date={new Date("2022-10-15")}
    title="10 years of Barkley Pie's Slam Jam Slam Song"
    url="https://xeiaso.net/blog/basketball-10year"
  >
    A story about old internet humor, ponies and basketball. As a millennial who
    also used Flash a lot in the old days, this article hits my nostalgia spot.
  </ReadCard>

  <ReadCard
    date={new Date("2022-10-14")}
    title="Blasts from the past"
    url="https://www.brycewray.com/posts/2022/10/blasts-from-past/"
  >
    All you need to know about creating a blog, from choosing a generator to
    deploying it.
  </ReadCard>

  <ReadCard
    date={new Date("2022-10-11")}
    title="Bitcoin and economic nihilism"
    url="https://xeiaso.net/blog/cryptocurrency-ownership"
  >
    In this long article, the author goes through xer experience with
    cryptocurrencies and NFT. I must admit I have been a user of this
    technology, and it saddens me the amount of scams that are around it,
    transaction fees, third-parties and required KYC verifications. Overall, I
    enjoyed this article, I recommend reading it while taking breaks.
  </ReadCard>

  <ReadCard
    date={new Date("2022-10-04")}
    title="There is no 'software supply chain"
    url="https://iliana.fyi/blog/software-supply-chain/"
  >
    Agreed on this, people take for granted liability on Open Source software.
  </ReadCard>

  <ReadCard
    date={new Date("2022-10-03")}
    title="Identity model software"
    url="https://xeiaso.net/blog/identity-model-software-2021-01-31"
  >
    Agreed, the limitations of believing that we only need one identity are
    harmful.
  </ReadCard>
</BaseLayout>
