---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<section>
  <span>Tags:</span>
  <ul>
    {tags.map((tag) => <li>{tag}</li>)}
  </ul>
</section>

<style lang="scss">
  section,
  ul {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul > li:before {
    content: "#";
  }
</style>
