---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<section class="flex flex-row gap-1 items-center">
  <span>Tags:</span>
  <ul class="list-none pl-0">
    {tags.map((tag) => <li>{`#${tag}`}</li>)}
  </ul>
</section>

