---
import { LICENSES, type LicenseName, DEFAULT_LICENSE } from "~/consts";

export interface Props {
  license?: LicenseName;
}

import { SITE_URL, SITE_TITLE, SITE_GIT_REPO } from "~/consts";
import Link from "./Link.astro";

const currentYear = new Date().getUTCFullYear();

---

<footer class="flex flex-col gap-2">
  <p>Copyright &copy; {currentYear}</p>
  <p class="hidden print:block">Content from: <Link url={SITE_URL} name={SITE_TITLE} styleType="B" /></p>
</footer>
