---
// I don't know if this component is relevant anymore to be honest..

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

---

<a class="flex flex-col itesm-center justify-center relative flex-1" href={href} class:list={[className]} {...props}>
  <slot />
</a>
