---
import HeaderLink from "./HeaderLink.astro";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  items: {
    [key: string]: string;
  };
}

const { items } = Astro.props;
---

<ul>
  {
    Object.entries(items).map((keyValuePair) => {
      const url = keyValuePair[0];
      const title = keyValuePair[1];
      return (
        <li>
          <HeaderLink href={url}>{title}</HeaderLink>
        </li>
      );
    })
  }
</ul>
