---
import Icon from "./Icon.astro";
import HeaderLinkList from "./HeaderLinkList.astro";
import { SITE_TITLE, NAV_BAR_LINKS } from "../consts";
---

<header>
  <nav role="navigation">
    <span class="logo">
      <a href="/">{SITE_TITLE}</a>
    </span>
    <HeaderLinkList items={NAV_BAR_LINKS} />
    <button
      class="menu-toggle"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="menu"
    >
      <Icon name="mdi:menu" width="24px" />
    </button>
  </nav>
  <div class="progress-bar"></div>
</header>

<script>
  import { setupScript } from "../scripts/setupScript";
  import setupProgressBar from "../scripts/progressBar";
  import setupHamburgerMenu from "../scripts/hamburgerMenu";
  
  
  await setupScript({name: "progress-bar", setup: setupProgressBar, once: true });
  await setupScript({name: "hamburger-menu", setup: setupHamburgerMenu});
</script>
