---
import { SITE_URL } from "../consts";

export interface Props {
  url: string;
  name: string;
  target?: "_blank" | "_self";
  renderPrint?: boolean;
  download?: string | boolean
}

const {
  url,
  name,
  target: providedTarget,
  renderPrint = true,
  download = false
} = Astro.props;

let isExternalUrl = false;

const lowerCaseUrl = url.toLowerCase();
const isAbsolute =
  lowerCaseUrl.startsWith("http") || lowerCaseUrl.startsWith("https");

if (isAbsolute && !url.startsWith(SITE_URL)) {
  isExternalUrl = new URL(url).hostname !== Astro.url.hostname;
}

const isEmail = url.startsWith("mailto");
const printUrl = isEmail ? url.replace("mailto:", "") : url;

const target = providedTarget ?? isExternalUrl ? "_blank" : "_self";

const linkProps : Record<string, unknown> = {
  href: url,
  target,
  rel: "noopener noreferrer"
};

if (download) {
  linkProps["download"] = download;
}
---

<a
  {...linkProps}
  class="print:hidden"
>
  <slot name="before" />
  {name}
  <slot name="after" />
</a>

{renderPrint && (
  <div
    class="hidden print:inline-block"
  >
    <span>{`${name}:`}</span>
    <a {...linkProps} class="text-blue-800">{printUrl}</a>
  </div>
)}
