---
import Icon from "astro-icon";

export interface Props {
  url: string;
  name: string;
}

const { url: plainUrl, name } = Astro.props;

let plainUrlIsExternal = false;

const lowerCaseUrl = plainUrl.toLowerCase();
const isAbsolute =
  lowerCaseUrl.startsWith("http") || lowerCaseUrl.startsWith("https");

if (isAbsolute) {
  plainUrlIsExternal = new URL(plainUrl).hostname !== Astro.url.hostname;
}
---

<a class="plain-link">
  {name}
  {plainUrlIsExternal && <Icon name="uil:external-link-alt" />}
  {plainUrl.startsWith("mailto") && <Icon name="ic:round-email" />}
</a>

<style lang="scss">
  @use "../styles/common.scss" as *;

  a,
  a:active,
  a:visited {
    @include link;
  }

  .plain-link {
    svg {
      margin-left: 2px;
      margin-top: 2px;
      vertical-align: text-top;
      width: $font-size-regular;
      color: $icon-color;
    }

    &:hover {
      svg {
        color: $text-color;
      }
    }
  }
</style>
