---
export interface Props {
  title: string;
  tags: string[];
}

const { title, tags } = Astro.props;

const toot = `${title}\n\n%CURRENTURL%\n\n${tags
  .map((tag) => `#${tag}`)
  .join(" ")}`;
---

<details>
  <summary class="list-item">Share on Mastodon</summary>
  <form id="masto-share" class="flex flex-row gap-1 items-center">
    <label for="instanceurl">Instance URL:</label>
    <div class="flex flex-row gap-1 items-center">
      <input
        class="rounded border-2 border-slate-500 bg-white px-3 py-2"
        id="instanceurl"
        type="text"
        placeholder="https://pony.social"
        value=""
      />
      <input class="rounded border-2 border-slate-500 bg-white px-3 py-2" type="hidden" id="toot" value={toot} />
      <input class="rounded border-2 border-slate-500 bg-white px-3 py-2" type="submit" value="Share" />
    </div>
  </form>
</details>

<script>
  import { setupScript } from "../scripts/setupScript";
  import { setupMastodonShare } from "../scripts/shareButtons";

  await setupScript({name: "share-on-mastodon", setup: setupMastodonShare});
</script>
