---
import Icon from "./Icon.astro";
import Link from "./Link.astro";
---

<section class="card">
  <div>
    <span class="text-and-icon">
      <Icon name="mdi:error" alt="Exclamation icon" />
      The author is available for employment.
    </span>
    <p class="first-paragraph">
      Should you or your company interested, please check out my <Link
        url="/resume"
        name="resume"
      /> for further contact information.
    </p>
    <p>Remote positions only.</p>
  </div>
</section>

<style lang="scss">
  .card {
    @include card-common;
  }

  .text-and-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
  }

  @media print {
    section {
      display: none !important;
    }
  }
</style>
