---
import Icon from "./Icon.astro";
import Link from "./Link.astro";

import {
  formatDateTime,
  DateTimeFormattingConfig
} from "../helpers/formatDateTime";

export interface Props {
  date: Date;
  title: string;
  url: string;
}

const { date, title, url } = Astro.props;

const dateFormatted = formatDateTime(
  date,
  DateTimeFormattingConfig.DayShortMonthYear
);
---

<div class="read-card">
  <div class="read-card-header">
    <div class="read-card-date">
      <Icon name="mdi:calendar-month" width="22px" alt="Calendar icon" />
      {dateFormatted}
    </div>
    <div class="read-card-title">
      <Link url={url} name={title} />
    </div>
  </div>
  <div class="read-card-contents">
    <slot />
  </div>
</div>

<style lang="scss">
  @use "../styles/common.scss" as *;

  .read-card {
    @include card-common;
    gap: 10px;

    @media print {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    & > .read-card-header {
      display: flex;
      flex-direction: row;
      gap: 15px;

      @media (max-width: $tablet-breakpoint) {
        flex-direction: column;
      }

      @media screen {
        & > .read-card-date {
          @include flex-center;
          gap: 5px;
        }
      }
    }

    & > .read-card-contents {
      max-width: 80ch;
      word-break: break-word;
    }
  }
</style>
