---
export interface Props {
  title: string;
  tags: string[];
}

import { X_USERNAME } from "~/consts";
import Link from "./Link.astro";

const { title, tags } = Astro.props;

const dataString = JSON.stringify({
  title,
  tags,
  url: Astro.url.toString(),
  username: X_USERNAME
});
---

<form id="x-share" class="contents">
  <input type="hidden" id="x-share-data" value={dataString} />
  <Link name="Share on X (Twitter)" url="https://x.com/intent/tweet" />
</form>

<script>
  import { setupScript } from "../scripts/setupScript";
  import { setupXShare } from "../scripts/shareButtons";

  await setupScript({name: "share-on-x", setup: setupXShare});
</script>
