{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  {%block head %}{% endblock %}
</head>
<body>
  <header>
    <nav role="navigation">
    <span class="logo">
      <a href="{{ get_url(path="/", trailing_slash=false) }}">Luc's Website</a>
    </span>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{ get_url(path="@/read.md") }}">Read</a></li>
      <li><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
      <li><a href="{{ get_url(path="@/resume.md") }}">Resume</a></li>
      <li><a href="{{ get_url(path="@/about.md") }}">About</a></li>
    </ul>
    <a
      href="#"
      class="menu-toggle"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="menu"
      role="button"
    >
      <i class="fa-solid fa-bars" aria-hidden="true"></i>
    </a>
    </nav>
    <div class="progress-bar"></div>
  </header>
  <main>
    <noscript>
      <blockquote>
          Due to bots and other unwanted traffic, I have to protect my contact information using JavaScript.
          Some parts of this website may not work. However, to read articles it should be fine.
      </blockquote>
    </noscript>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span class="print-only">
      Content from: Luc's Website - {{ get_url(path="/", trailing_slash=false) }}
    </span>
    <span>
      {% block license %}{% endblock %}
    </span>
    <span>
      <a href="https://github.com/lucrnz/site" target="_blank" noreferrer noopener>
        <i class="fa-brands fa-github" aria-hidden="true"></i>Source code
      </a>
    </span>
    <span>
      <a href="{{ get_url(path="/rss.xml") }}" target="_blank">
        <i class="fa-solid fa-rss" aria-hidden="true"></i>RSS Feed
      </a>
    </span>
    <span>
      <a href="{{ get_url(path="/blog.json") }}" target="_blank">
        <i class="fa-solid fa-scroll" aria-hidden="true"></i>JSON Feed
      </a>
    </span>
  </footer>
  <a rel="me nofollow" href="https://pony.social/@luc" hidden aria-hidden="true" style="display: none"></a>
  <a rel="me nofollow" href="https://mas.to/@lucie" hidden aria-hidden="true" style="display: none"></a>
</body>
</html>
