{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head %}{% endblock %}
</head>
<body>
    <a rel="me" href="https://mas.to/@lucie" hidden aria-hidden="true" style="display: none"></a>
    <main>
        <nav>
            <a href="/">Luc</a>
            <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>
            <a href="{{ get_url(path="@/read.md") }}">Read</a>
            <a href="{{ get_url(path="@/about.md") }}">About</a>
            <a href="{{ get_url(path="@/feeds.md") }}">Feeds</a>
        </nav>
        {% block content %}{% endblock %}
        <footer>
          <p>
            Unless specified otherwise, content licensed
                <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt" target="_blank">CC0.</a>
          </p>
          <p>
              See website <a href="https://git.lucdev.net/luc/lucsite" target="_blank">source code here.</a>
          </p>
        </footer>
    </main>
</body>
</html>
