{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head %}{% endblock %}
</head>
<body>
    <a rel="me" href="https://pony.social/@luc" hidden aria-hidden="true" style="display: none"></a>
    <a rel="me" href="https://mas.to/@lucie" hidden aria-hidden="true" style="display: none"></a>
    <main>
        <nav>
            <a href="/">Luc</a>
            <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>
            <a href="{{ get_url(path="@/read.md") }}">Read</a>
            <a href="{{ get_url(path="@/about.md") }}">About</a>
            <a href="{{ get_url(path="@/feeds.md") }}">Feeds</a>
        </nav>
        {% block content %}{% endblock %}
        <footer>
          <p>
            {% block license %}{% endblock %}
          </p>
          <p>
              See website <a href="https://github.com/lucrnz/site" target="_blank" noreferrer noopener>source code here.</a>
          </p>
	    </footer>
    </main>
</body>
</html>
