{% extends "base.html" %}

{% block head%}
  {{ macros::head(title="Blog") }}
{% endblock head%}

{% block navigation %}
{{ macros::navigation(current_page="blog") }}
{% endblock navigation %}

{% block content %}
  {{ section.content | safe }}
  {% for page in section.pages %}
    <div>
        <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
        {{ macros::blog_subtitle(date = page.date, readtime = page.extra["readtime"]) }}
        <p>{{ page.description }}</p>
    </div>
  {% endfor %}
{% endblock content %}

