{% extends "base.html" %}

{% block head%}
  {{ macros::head(title="Blog", description=section.extra.long_description) }}
{% endblock head%}

{% block content %}
  <div class="blog-post-page-contents">
    {{ section.content | safe }}
  </div>
  <div class="blog-post-card-list" aria-label="List of blog posts">
  {% for page in section.pages %}
    {% if page.extra.unlisted %}
      {% continue %}
    {% endif %}
    <div class="blog-post-card">
      <div class="blog-post-card-header">
        <span class="blog-post-card-date">
          <i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i>
          {{ page.date | date(format="%Y %m %d") }}
        </span>
        <span class="blog-post-card-title">
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </span>
      </div>
      {% if page.description %} 
      <blockquote class="blog-post-card-description" aria-label="Blog post description">
        {{ page.description | safe }}.
      </blockquote>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock content %}

{% block license %}
	{{macros::license(name="CC0-1.0", url="https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt")}}
{% endblock license %}
