{% extends "base.html" %}

{% block head%}
  {{ macros::head(title="Blog", description=section.extra.long_description) }}
{% endblock head%}

{% block content %}
  {{ section.content | safe }}
  {% for page in section.pages %}
      <span>
        {{ page.date | date(format="%Y %m %d") }}
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </span>
      <blockquote>
        {{ page.description | safe }}.
      </blockquote>
  {% endfor %}
{% endblock content %}

{% block license %}
	{{macros::license(name="CC-O", url="https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt")}}
{% endblock license %}
