{% extends "base.html" %}

{% block head %}
	{{macros::head(title="", description=section.extra.long_description)}}
{% endblock head %}

{% block navigation %}
{{ macros::navigation(current_page="index") }}
{% endblock navigation %}

{% block content %}
<div class="index-header">
    <div class="left-side">
        <img
        src="{{ get_url(path="/images/profile_picture_chill.png") }}"
        alt="A Picture of Luc"
        class="avatar">
    </div>
    <div class="right-side">
        <h1>Luc</h1>
        <h4>Full-stack Software Developer, Tea enjoyer and Pony-person</h4>
    </div>
</div>
{{ section.content | safe }}
{% endblock content %}

{% block license %}
	{{macros::license(name="CC0-1.0", url="https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt")}}
{% endblock license %}
