{% set current_page = current_page | default(value="") %}

{% macro head(title, description) %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title == "" %}Luc{% else %}{{ title }} - Luc{% endif %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ get_url(path="/safari-pinned-tab.svg") }}" color="#662f89">
    <meta name="msapplication-TileColor" content="#662f89">
    <meta name="theme-color" content="#662f89">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ get_url(path="fonts.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
    <link rel="alternate" type="application/rss+xml" title="Luc's blog" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/json" title="Luc's Blog"  href="{{ get_url(path="blog.json", trailing_slash=false) }}">
    {% if current_url and current_url != "" %}
        <link rel="canonical" href="{{ current_url }}">
        <meta property="og:url" content="{{ current_url }}">
    {% endif %}
    {% if description != "" %}
        <meta name="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{ get_url(path="/android-chrome-192x192.png") }}">
        <meta property="twitter:description" content="{{ description }}">
        <meta property="og:image" content="{{ get_url(path="/android-chrome-192x192.png") }}">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Luc's Website">

        {% if title == "" %}
        <meta property="twitter:title" content="Luc's Website">
        <meta property="og:title" content="Luc's Website">
        {% else %}
        <meta property="twitter:title" content="{{ title }} - Luc">
        <meta property="og:title" content="{{ title }} - Luc">
        <meta property="og:site_name" content="{{ title }} - Luc">
        {% endif %}
    {% endif %}
    <script src="{{ get_url(path="scripts/main.js") }}" defer></script>
{%endmacro head %}

{%macro blog_subtitle(date, readtime, author_name, author_url) %}
<section class="blog-post-subtitle">
    <span class="blog-post-subtitle-author">
        <i class="fa-solid fa-fw fa-circle-user" aria-hidden="true"></i>
        By: <a href="{{ author_url }}" target="_blank" noreferrer noopener>{{ author_name }}</a>
    </span>
    <span class="blog-post-subtitle-date">
        <i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i>
        {{ date | date(format="%Y %b %d") }}
    </span>
    <span class="blog-post-subtitle-read-time">
        <i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i>
        {{ readtime }} minutes read.
    </span>
</section>
{%endmacro %}

{%macro license(name, url) %}
<a href="{{ url }}" target="_blank" noreferrer noopener><i class="fa-solid fa-scale-balanced"></i> License: {{ name }}</a>
{%endmacro %}
