{% macro navigation(current_page) %}
{% endmacro navigation %}

{% macro head(title, description) %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title == "" %}Luc{% else %}{{ title }} - Luc{% endif %}</title>
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
    <link rel="shortcut icon" href="{{ get_url(path="images/icon.png") }}">
    <link rel="alternate" type="application/rss+xml" title="Luc's blog" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/json" title="Luc's Blog"  href="{{ get_url(path="blog.json", trailing_slash=false) }}">
    {% if description != "" %}
        <meta name="description" content="{{ description }}">
    {% endif %}
{%endmacro head %}

{%macro blog_subtitle(date, readtime, author_name, author_url) %}
<p>By: <a href="{{ author_url }}" target="_blank" noreferrer noopener>{{ author_name }}</a> • {{ date | date(format="%Y %b %d") }} • {{ readtime }} minutes read.</p>
{%endmacro %}

{%macro license(name, url) %}
Content licensed <a href="{{ url }}" target="_blank" noreferrer noopener>{{ name }}</a>
{%endmacro %}
