{% extends "base.html" %}

{% block head %}
  {{macros::head(title="Resume", description=page.description)}}
{% endblock head %}

{% block content %}
<div class="resume-header">
  <div class="left-side">
    <img
    src="{{ get_url(path="/images/profile_picture_pro.png") }}"
    alt="A Picture of Luc"
    class="avatar">
  </div>
  <div class="right-side">
    <h1>Luciana Hillcoat</h1>
    <span class="subtitle">Software Developer</span>
    <span class="links">
      <a href="#" data-protected-link="{{ page.extra.linkedin }}">Linkedin</a>
      <a href="#" data-protected-link="{{ page.extra.whatsapp }}">WhatsApp</a>
      <a href="#" data-protected-link="{{ page.extra.email }}">Email</a>
    </span>
  </div>
</div>

<article class="resume">
  <section id="summary">
    <div class="resume-section-title">
      <h3>Summary</h3>
    </div>
    <div class="resume-summary-card">
      <p>
        Developer with extensive experience programming in C# and JavaScript,
        focusing on details such as solid principles and proficiency in working
        with legacy code and refactoring it to improve efficiency and maintainability.
        A team player, never hesitates to ask for help.
      </p>
      <p>
        The best solution to any problem is often the simplest.
        Mostly self-taught, programming is both my job and my passion.
        I am constantly working on new ideas and finding ways to improve my skills.
      </p>
    </div>
  </section>

  <section id="education">
    <div class="resume-section-title">
      <h3>Education</h3>
    </div>
    <div class="resume-card education-certificate">
      <div class="left-side">
        <div class="cert-info">
          <h4>React: The Complete Guide</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Udemy</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> Length: 48.5 hours + Practice</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Issued: Jul 2022</span>
        </div>
        <div class="cert-link">
          <a href="https://www.udemy.com/certificate/UC-b40f930d-d308-4c47-bd31-c3b98fcce89d/">View Certificate</a>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Skills trained</h4>    
        </div>
        <div class="skills">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Conditional render</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Styled Components</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> CSS Modules</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Hooks</span>
          </div>
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> State</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Effects</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Router</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Redux</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card education-certificate">
      <div class="left-side">
        <div class="cert-info">
          <h4>The Complete SQL Bootcamp</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Udemy</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> Length: 9 hours + Practice</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Issued: Jan 2023</span>
        </div>
        <div class="cert-link">
          <a href="https://www.udemy.com/certificate/UC-42309009-1c9c-4107-acb5-a925218b7f83/">View Certificate</a>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Skills trained</h4>
        </div>
        <div class="skills">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> SQL Basics</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Group By</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Inner Join</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Outer Join</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Union</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Date and Timestamps</span>
          </div>
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Insert</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Update</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Delete</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Alter</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Drop</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Views</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card education-certificate">
      <div class="left-side">
        <div class="cert-info">
          <h4>EF SET English Certificate</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> EF Standard English Test</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> Length: 50 minutes</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Issued: Feb 2023</span>
        </div>
        <div class="cert-link">
          <a href="https://www.efset.org/cert/HbTawN">View Certificate</a>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Highlights</h4>
        </div>
        <div class="skills">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> C2 Proficient 72/100</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Proficient in both spoken and written language.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Comprehends fast-paced speech with regional accents and a range of written texts, including complex materials.</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="experience">
    <div class="resume-section-title">
      <h3>Experience</h3>
    </div>

    <div class="resume-card experience-job">
      <div class="left-side">
        <div class="job-info">
          <h4>Semi Senior Full Stack Developer</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Cognizant Softvision</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> <span id="resume-job-current-time">8 months</span></span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Started: Sep 2022</span>
          <span><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Buenos Aires, Argentina · Remote</span>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Description</h4>
        </div>
        <div class="job-bullet-points">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Expertise in .NET Core, JavaScript, React, and Redux.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Estimation of user stories with proper technical design.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Helping and teaching team members.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Refactoring old components.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Normalizing Redux store.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card experience-job">
      <div class="left-side">
        <div class="job-info">
          <h4>Full Stack Software Developer</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Cognizant Softvision</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> 1 year and 1 month</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Started: Aug 2021</span>
          <span><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Buenos Aires, Argentina · Remote</span>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Description</h4>
        </div>
        <div class="job-bullet-points">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Worked for an important client on the audits area with an international team full-english speaking.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Learned React and Redux with real life experience.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Learned Azure DevOps.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Deliver of high-quality components.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> New features and mantainince of .NET Core backend with Entity Framework Core and SQL Server database.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card experience-job">
      <div class="left-side">
        <div class="job-info">
          <h4>Backend Developer</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Kimn Consulting</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> 1 year and 11 months</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Started: Jan 2017</span>
          <span><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Mar del Plata, Argentina · In site</span>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Description</h4>
        </div>
        <div class="job-bullet-points">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Integration development for Insurance System.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Ditched old Microsoft Integration Services XML that was causing  merge problems.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Replaced with a complete C# program built from the bottom up with SOLID principles in mind</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Sources parsed from any source: PDF, Email, CSV, JSON, Excel, and converted into a Complete SQL Server Query to insert into the database.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Deployment and mantainince of this program.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card experience-job">
      <div class="left-side">
        <div class="job-info">
          <h4>Full Stack Software Developer</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Kimn Consulting</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> 1 year</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Started: Jan 2016</span>
          <span><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Mar del Plata, Argentina · In site</span>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Description</h4>
        </div>
        <div class="job-bullet-points">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> New features development and research.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Investigation of tools for solving current problems better.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Implement unit testing on the current running system.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Implement usage of Git and some Agile.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Developing new features of the system using SOLID principles.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Refactoring NHibernate Queries to SQL stored procedures.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-card experience-job">
      <div class="left-side">
        <div class="job-info">
          <h4>Full Stack Software Developer</h4>
          <span><i class="fa-regular fa-fw fa-building" aria-hidden="true"></i> Kimn Consulting</span>
          <span><i class="fa-regular fa-fw fa-clock" aria-hidden="true"></i> 10 months</span>
          <span><i class="fa-regular fa-fw fa-calendar-days" aria-hidden="true"></i> Started: Mar 2015</span>
          <span><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Mar del Plata, Argentina · In site</span>
        </div>
      </div>
      <div class="right-side">
        <div class="title">
          <h4>Description</h4>
        </div>
        <div class="job-bullet-points">
          <div role="list">
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Bug fixing/patching legacy system.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Delivered patches in time.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Learned C#/.NET.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Tech stack: .NET, PHP, HTML, JavaScript.</span>
            <span role="listitem"><i class="fa-solid fa-check-square" aria-hidden="true"></i> Database: SQL Server.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>
</article>
{% endblock content %}

{% block license %}
  {{macros::license(name="CC-BY-NC-ND-4.0", url="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.txt")}}
{% endblock license %}
