---
type ClassicButton = {
  name: string;
  fileName: string;
};

const buttons: ClassicButton[] = [
  {
    fileName: "computer.png",
    name: "I like computer"
  },
  {
    fileName: "html.gif",
    name: "I dream in HTML"
  },
  {
    fileName: "imagination.gif",
    name: "Powered by imagination"
  },
  {
    fileName: "preserve.gif",
    name: "Internet Archive, Preverse!"
  },
  {
    fileName: "repair.jpg",
    name: "Right to repair!"
  }
];
---

<section class="classic-footer" style="display: none" aria-hidden="true">
    <div class="window">
      <div class="window-title">
        <span>Nostalgia zone</span>
      </div>
      <div class="contents">
        {buttons.map(({ name, fileName }) => (
          <img src={`/classic/buttons/${fileName}`} alt={name} />
        ))}
      </div>
    </div>
</section>

<style lang="scss">
    @use "../../styles/common.scss" as *;
  /* Classic Footer Code */
  $classic-bg: #c0c0c0;
  $classic-blue: #000b7c;
  $classic-light-blue: #377cc6;

  @mixin win98-box-shadow {
    /* @preserve
    *  Thanks! https://fjolt.com/article/css-windows-98#how-to-build-windows-98-in-css
    */
    box-shadow:
      -2px -2px #e0dede,
      -2px 0 #e0dede,
      0 -2px #e0dede,
      -4px -4px white,
      -4px 0 white,
      0 -4px white,
      2px 2px #818181,
      0 2px #818181,
      2px 0 #818181,
      2px -2px #e0dede,
      -2px 2px #818181,
      -4px 2px white,
      -4px 4px black,
      4px 4px black,
      4px 0 black,
      0 4px black,
      2px -4px white,
      4px -4px black;
  }

  @media screen and (min-width: $laptop-breakpoint) {
    .classic-footer {
      display: flex !important;
      @include flex-center;
      cursor: url("/classic/cursors/arrow.png"), auto;
      flex-direction: column;
      padding-top: 64px;
      padding-bottom: 64px;
      background-image: url("/classic/bg/coffe-bean.png");
      background-size: 100px;

      ::selection {
        background-color: $classic-blue;
      }

      .window {
        @include win98-box-shadow;

        .window-title {
          background: linear-gradient(
            90deg,
            $classic-blue,
            $classic-light-blue
          );
          min-height: 24px;
          min-width: 100%;

          span {
            user-select: none;
            font-size: 16px;
            padding-left: 10px;
          }
        }

        .contents {
          @include flex-center;
          background-color: $classic-bg;
          gap: 20px;
          padding: 24px;

          img {
            filter: drop-shadow(3px 3px 1px rgba(50, 50, 93, 0.25));

            &:hover {
              cursor: url("/classic/cursors/hand-pointer.png"), pointer;
            }
          }
        }
      }
    }
  }
</style>