---
import type { LicenseName } from "../consts";

export interface Props {
  title: string;
  description: string;
  license?: LicenseName;
  hideFun?: boolean;
}

const { title, description, license, hideFun } = Astro.props;

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer license={license} hideFun={hideFun} />
  </body>
</html>
