---
import Icon from "~/components/Icon.astro";
import Link from "~/components/Link.astro";
---

<Link
  url=`/resume/resume.pdf`
  download="lhillcoat_cv"
  name="Download as PDF"
  renderPrint={false}
  target="_blank"
>
  <div class="icon-container" slot="after">
    <Icon name="fluent:document-pdf-16-regular" />
  </div>
</Link>

<style lang="scss">
  .icon-container {
    display: inline;
    vertical-align: text-top;
    color: $icon-color;
  }
</style>
